@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html,body{
    height:100%;
    width: 100%;
}
.main{
    height:100%;
    width:100%;
    background-color: rgb(143, 187, 153);
    position: relative;
    display: flex;
    justify-content: center;
}
.gamepad{
    position: absolute;
    bottom: 0%;
    height: 96%;
    width: 90%;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.5);
}
.gamepad>.dets>button{
    padding:0.5rem 1rem;
    background-color: whitesmoke;
    border-radius: 5px;
    border: none;
    font-size:1rem;
    font-weight: 600;
}
.gamepad>.dets span{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: whitesmoke;
    margin-left: 0.2rem;
}
.gamepad>.dets{
    height:12%;
    width: 100%;
    background-color:rgb(89, 90, 74);
    display: flex;
    justify-content: space-between;
    padding:0 5rem;
    align-items: center;
    font-weight: 600;
    color: white;
}
.gamepad>.gamearea{
    height: 88%;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    padding: 2rem;
}
#game-num span{
    color: rgb(0, 0, 0);
}
#time span{
    color: red;
}
#score span{
    color:rgb(5, 255, 5);
}
.gamepad>.overlay{
    height: 100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.622);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    letter-spacing: 0.05rem;
    font-weight: 600;
    font-size: 1.5rem;
}
.bubble{
    width: 3vw;
    height:3vw;
    min-height: 3.5vw;
    min-width: 3.5vw;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: darkseagreen;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    font-size: large;
}
@media (max-width:900px) {
    .gamepad>.dets{
        padding: 1rem;
        font-size: smaller;
        gap: 1.6remrem;
        flex-wrap: wrap;
    }
    .gamepad>.dets span{
        padding: 0.4rem;
    }
    .gamepad>.dets button{
        font-size: medium;
        padding: 0.5rem;
    }
    .gamepad>.overlay{
        font-size: 1rem;
    }
    .bubble{
        height: 8.3vw;
        width: 8.3vw;
    }
}
